pipeline/PL_DATA_online_src_to_raw.json
{
	"name": "PL_DATA_online_src_to_raw",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_GetOldWatermark",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select\n  *\nfrom stg.func_watermarktable\nwhere TableName = 'online_purchase'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_stg_func_watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_GEN_LKP_GetNewWatermark",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select GETUTCDATE() as NewWatermarkvalue;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_stg_func_watermarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ACT_GEN_SPRC_UpdateWatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_MT_Copy_SrcToStgOnlinePurchase_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('ACT_GEN_LKP_GetNewWatermark').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('ACT_GEN_LKP_GetOldWatermark').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_movies_adf",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_MT_Copy_SrcToStgOnlinePurchase_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_GetOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_LKP_GetNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@formatDateTime(\n    activity('ACT_GEN_LKP_GetOldWatermark').output.firstRow.WatermarkValue, 'yyyy-MM-ddTHH:mm:ssZ')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@formatDateTime(\n    activity('ACT_GEN_LKP_GetNewWatermark').output.firstRow.NewWatermarkvalue, 'yyyy-MM-ddTHH:mm:ssZ')",
								"type": "Expression"
							},
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "DS_JSON_src_azurementoringstorageda_online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_JSON_raw_online",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-16T23:23:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}