pipeline/PL_DATA_Ingest_To_Raw_v0.json
{
	"name": "PL_DATA_Ingest_To_Raw_v0",
	"properties": {
		"activities": [
			{
				"name": "ACT_ITRC_FOR_CopyFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SETVAR_CurrentDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_GEN_SETVAR_ListOfFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ListOfFiles')",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "ACT_MT_Copy_FileIngestToRaw",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_GEN_SETVAR_OutputFIleName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ABLB_azurementoringdatalakeda",
											"type": "LinkedServiceReference"
										},
										"path": "log"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSV_src_azurementoringstorageda_movies",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CSV_Azurementoringdatalakeda_Raw_old",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('OutputFIleName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_GEN_SETVAR_OutputFIleName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "OutputFIleName",
								"value": {
									"value": "@concat(replace(item().name,'.csv','_'),\nvariables('current_timestamp'),'.csv')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ACT_GEN_SETVAR_CurrentDatetime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_timestamp",
					"value": {
						"value": "@formatDatetime(utcnow(),'yyyyMMddhhmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_META_GetFilesList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_CSV_src_azurementoringstorageda_movies",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ACT_GEN_SETVAR_ListOfFiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_GetFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListOfFiles",
					"value": {
						"value": "@activity('ACT_GEN_META_GetFilesList').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			},
			"current_timestamp": {
				"type": "String"
			},
			"ListOfFiles": {
				"type": "Array"
			},
			"OutputFIleName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "archive"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-03T21:52:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}